In [22]:
df = df_original
print(df_original)

NameError: name 'df_original' is not defined

In [20]:
import pandas as pd
df = pd.read_excel("Output.xlsx") 

print(df.columns)

Index(['Unnamed: 0', 'Category', 'Amount', 'Date'], dtype='object')

In [21]:
df.drop(columns = ["Unnamed: 0"])

  Category  Amount     Date
0  Medical     784  1/12/21

Empty DataFrame
Columns: [Unnamed: 0, Category, Amount, Date]
Index: []